

h1{
	font-weight: bold;
	color: #2c3e50;
}

h4{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#Border{
	border:20px solid #bdc3c7;
	padding: 3em 3em 3em 3em;
}

#one{
	border-bottom: 2px solid #bdc3c7;
	padding-bottom: 3px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	 margin-left: auto;
    margin-right: auto;
    width: 50em
    /*border:60px;*/
}

.firstPara{
border-left:3px solid #bdc3c7;
padding-left: 7px;
}